<!DOCTYPE html>
<html lang="en">
<head>
    <title>Career Crafter</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style3.css') }}"
    />
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Career Crafter</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    
                </ul>
            </div>

            
        </div> 
        <div class="content">
            <p class="par">Welcome to our Career Prediction and Project Suggestion App! <br>
            Our mission is to empower students and professionals by providing AI-driven career guidance and personalized project recommendations.<br>
Using advanced Decision Tree Classifier algorithms, we analyze your skills, academic background, and interests to predict the best career paths for you.<br>
            Additionally, with the help of Google Gemini, we suggest relevant projects that align with your chosen field, helping you gain hands-on experience and enhance your employability.<br>
Our goal is to bridge the gap between learning and career success by offering data-driven insights that make career planning more effective and personalized.<br> Whether you're a student exploring opportunities or a professional looking to upskill, we are here to guide you every step of the way!</p>


                
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>