<!DOCTYPE html>
<html lang="en">
<head>
    <title>Career Crafter</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style1.css') }}"
    />
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Career Crafter</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    
                    
                </ul>
            </div>

            
        </div> 
        <div class="content">
            <h1>WELCOME TO<br><span>PROJECT SUGGESTION </span><br>BASED ON CAREER PREDICTION</h1>
            <p class="par">A Career Prediction and Project Suggestion App is a tool designed to guide individuals, <br>
            especially students and professionals, in choosing suitable career paths and projects based on their skills and interests. <br>
            This application utilizes a Decision Tree Classifier to analyze various factors, such as academic background, technical expertise, and personal preferences, to predict the most suitable career options.<br>
            Additionally, it integrates Google Gemini to suggest relevant projects that align with the predicted career path,<br>
            helping users enhance their practical knowledge and improve their employability.</p>

                <button class="cn"><a href="/index">Go to prediction</a></button>

                
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>